@import url(reset.css);
@keyframes rotatingEarth {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
body {
  background-color: black;
  min-height: 100vh;
}
.earth {
  height: 800px;
  width: 800px;
  background-image: url(../img/earth.png);
  background-size: 100px;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  animation: rotatingEarth 3s linear infinite;
}
.sun {
    height: 500px;
    width: 500px;
    background-image: url(../img/sun.png);
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
  }
